@import "../scss/responsive.scss";

.forgot-pass {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .forgot-content {
        :where([autoComplete='one-time-code']) {
            @include xs {
                font-size: 25px;
            }
            --otp-digits: 6;
            --otc-ls: 2.5ch;
            --otc-gap: 1.25;
            /* private consts */
            --_otp-bgsz: calc(var(--otc-ls) + 1ch);

            all: unset;
            background: linear-gradient(90deg, var(--otc-bg, #eee) calc(var(--otc-gap) * var(--otc-ls)), transparent 0)
                0 0 / var(--_otp-bgsz) 100%;
            caret-color: var(--otc-cc, #333);
            clip-path: inset(0% calc(var(--otc-ls) / 2) 0% 0%);
            font-family: ui-monospace, monospace;
            font-size: var(--otc-fz, 2.5em);
            inline-size: calc(var(--otc-digits) * var(--_otp-bgsz));
            letter-spacing: var(--otc-ls);
            padding-block: var(--otc-pb, 1ch);
            padding-inline-start: calc(((var(--otc-ls) - 1ch) / 2) * var(--otc-gap));
        }
    }
}
