.thiet-ke {
    padding: 0 70px;
    .group-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-action {
            .p-normal {
                margin-bottom: 10px;
                color: black;
                font-weight: 600;
                font-size: 18px;
            }
            .p-size {
                margin: 0;
                font-style: italic;
                font-family: roboto;
            }

            span {
                text-decoration: underline;
                color: #2124b1;
                cursor: pointer;
                &:hover {
                    color: #2124b1;
                }
            }
        }
        .image-upload {
        }
    }
}
